.git
.github
node_modules
frontend/node_modules
vendor
.env
.env.backup
.phpunit.result.cache
tests
storage/*.key
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
public/storage
Makefile
README.md
