<div class="w-screen lg:h-screen flex flex-col lg:flex-row">
    <Loading v-if="isLoading" />
    <!-- Left Section: Reset Password Form -->
    <div class="h-full w-auto lg:w-1/2 flex flex-1 flex-col justify-center lg:px-8 px-10 lg:pb-0">
        <router-link to="/" class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-24 rounded-full w-24" :src="logoUrl" alt="Company Logo" />
            <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight">Set New Password</h2>
        </router-link>
        <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
            <form @submit.prevent="handleSubmit" class="space-y-6">
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 float-left">Email Address</label>
                    <div class="mt-2">
                        <input v-model="form.email" id="email" name="email" type="email" autocomplete="email" required
                            class="block w-full pl-2 rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-regal-brown focus:border-regal-brown focus:outline-none sm:text-sm sm:leading-6" />
                        <span v-if="formErrors.email" class="text-regal-brown text-xs">{{ formErrors.email }}</span>
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium leading-6 float-left">New Password</label>
                    <div class="mt-2">
                        <input v-model="form.password" id="password" name="password" type="password" required
                            class="block w-full pl-2 rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-regal-brown focus:border-regal-brown focus:outline-none sm:text-sm sm:leading-6" />
                        <span v-if="formErrors.password" class="text-regal-brown text-xs">{{ formErrors.password }}</span>
                    </div>
                </div>

                <div>
                    <label for="password_confirmation" class="block text-sm font-medium leading-6 float-left">Confirm Password</label>
                    <div class="mt-2">
                        <input v-model="form.password_confirmation" id="password_confirmation" name="password_confirmation" type="password" required
                            class="block w-full pl-2 rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-regal-brown focus:border-regal-brown focus:outline-none sm:text-sm sm:leading-6" />
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-regal-brown px-3 py-1.5 mb-4 lg:mb-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-amber-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                        Reset Password
                    </button>
                </div>
            </form>
            <div class="text-center mt-4">
                <router-link to="/sign-in" class="font-semibold text-regal-brown hover:text-amber-700">
                    Back to Sign In
                </router-link>
            </div>
        </div>
    </div>

    <!-- Right Section -->
    <div class="lg:h-full w-full lg:w-1/2 flex flex-col">
        <img :src="backgroundUrl" alt="Background Image" class="object-cover h-full" />
        <div class="px-8 h-1/2 bg-[#f5ecd9] py-8">
            <h1 class="text-2xl font-bold mb-2">Almost Done!</h1>
            <h3 class="mb-4">Enter your new credentials to securely log back into Stanissk Store.</h3>
            <router-link to="/sign-in"
                class="flex lg:w-1/6 w-4/6 mx-auto justify-center rounded-md bg-regal-brown px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-amber-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                Sign In
            </router-link>
        </div>
    </div>
</div>
