<div class="carousel w-full relative">
    <div 
        v-for="(slide, index) in sliders" 
        :key="slide.id || index" 
        v-show="index === activeSlideIndex"
        class="carousel-item relative w-full transition-opacity duration-500"
    >
        <img :src="slide.image" class="w-full h-auto max-h-[500px] object-cover" :alt="slide.title || 'Slider Image'" />

        <div v-if="sliders.length > 1" class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <button @click.prevent="prevSlide" class="btn btn-circle bg-black/40 text-white border-none hover:bg-black/60">❮</button>
            <button @click.prevent="nextSlide" class="btn btn-circle bg-black/40 text-white border-none hover:bg-black/60">❯</button>
        </div>
    </div>
</div>