    <div class="drawer-end">
        <input :id="DrawerId" type="checkbox" class="drawer-toggle " />
        <div class="drawer-content lg:hidden">
            <!-- Page content here -->
            <label :for="DrawerId" class="drawer-button btn text-white bg-regal-brown">
                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </label>
        </div>
        <div class="drawer-side z-50">
            <label :for="DrawerId" aria-label="close sidebar" class="drawer-overlay "></label>
            <ul class="menu bg-base-200 text-base-content min-h-full w-2/3 p-4">
                <!-- Sidebar content here -->
                <li><a href="/" class="block text-gray-900 dark:text-white hover:text-regal-brown transition-all duration-500">Home</a></li>
                <li><button id="phone_btn_mobile"
                    class="block text-gray-900 dark:text-white hover:text-regal-brown transition-all duration-500">Phones</button></li>
                <li><button id="accessory_btn_mobile"
                    class="block text-gray-900 dark:text-white hover:text-regal-brown transition-all duration-500">Accessories</button></li>
                <li><button id="electronic_btn_mobile"
                    class="block text-gray-900 dark:text-white hover:text-regal-brown transition-all duration-500">Electronics</button>
                </li>
            </ul>
        </div>
    </div>